@page "/KonfiguratorPolaczen"
@inject HttpClient Http
@inject NavigationManager Navigation
@using GEORGE.Shared.Models
@using GEORGE.Shared.Class
@inject IMessageService _message
@inject INotificationService _notice
@inject Utilities.ILocalStorage LocalStorage
@inject IJSRuntime JSRuntime
@inject AntDesign.ModalService _modalService
@using System.Net

@using SixLabors.Fonts;
@using SixLabors.ImageSharp;
@using SixLabors.ImageSharp.PixelFormats;
@using SixLabors.ImageSharp.Drawing.Processing;
@using SixLabors.ImageSharp.Processing;
@using SixLabors.ImageSharp.Drawing;


<style>
    .image-select {
    width: 200px;
    font-size: 16px;
    padding: 5px;
    }

    .preview {
    margin-top: 10px;
    text-align: center;
    }

    .preview img {
    width: 80px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="d-flex justify-content-between align-items-center mt-3">
    <h3 class="text-center flex-grow-1">
        📌 Konfigurator połączeń elementów
    </h3>
    <button class="btn btn-primary mb-3" @onclick="GoBack">
        <i class="fas fa-arrow-left"></i> Wróć do poprzedniej strony
    </button>
</div>

<div class="container mt-4">

    <!-- 🔹 Wybór systemu -->
    <Tooltip Placement="@Placement.TopRight" Style="width:100%;" Title="Otwórz konfigurator nowego systemu lub wybierz go z listy">
        <div class="d-flex align-items-center" style="width:100%;">
            @if (Systemy != null && Systemy.Any())
            {
                <select class="form-select me-2" @onchange="@(async (args) => await OnSystemSelected(args))">
                    <option value="" disabled selected>-- Wybierz system --</option>
                    @foreach (var system in Systemy)
                    {
                        <option value="@system.RowId">@system.Nazwa_Systemu</option>
                    }
                </select>
            }
        </div>
    </Tooltip>

    <h3>Konfiguracja Modeli</h3>

    <!-- 🔘 Przycisk dodawania nowego modelu -->
    <button style="width:100%;" class="btn btn-success mb-3" @onclick="DodajNowy">
        <i class="fas fa-plus"></i> Dodaj Nowy Model
    </button>

    @if (ListaModeli != null && ListaModeli.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Zakres Kąta</th>
                    <th>Zakres Promienia</th>
                    <th>Wymiary</th>
                    <th>Miniaturka</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in ListaModeli)
                {
                    <tr>
                        <td>@model.NazwaKonfiguracji</td>
                        <td>@model.Typ</td>
                        <td>@model.KatWystapieniaZakresOdMin° - @model.KatWystapieniaZakresOdMax°</td>
                        <td>@model.PromienWystapieniaZakresOdMin mm - @model.PromienWystapieniaZakresOdMax mm</td>
                        <td>@model.KonstrMinSzer x @model.KonstrMinWys → @model.KonstrMaxSzer x @model.KonstrMaxWys</td>
                        <td>
                            @if (model.Rysunek != null && model.Rysunek.Length > 0)
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(model.Rysunek)" width="60" height="60" />
                            }
                            else
                            {
                                <span class="text-muted">Brak</span>
                            }
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm me-2" @onclick="() => Edytuj(model.Id, model.RowId.ToString(), model.NazwaKonfiguracji)">
                                <i class="fas fa-edit"></i> Edytuj
                            </button>
                            <button class="btn btn-danger btn-sm me-2" @onclick="() => Usun(model.Id)">
                                <i class="fas fa-trash-alt"></i> Usuń
                            </button>
    @*                         <button class="btn btn-info btn-sm" @onclick="() => PokazPowiazane(model.RowId.ToString(), model.NazwaKonfiguracji)">
                                <Tooltip Placement="Placement.Bottom" Title="Kliknij aby pokazać wszytkie lub wybrane">
                                    <i class="fas fa-eye"></i> 🛠️ @(PokazanyModelRowId == model.RowId.ToString() ? $"Powiązane : {WybralesElement}" : "Pokaż wszystkie")
                                </Tooltip>
                            </button> *@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p class="text-muted">Brak zapisanych modeli.</p>
    }

    @if (EdytowanyModel != null)
    {
        <EditForm Model="EdytowanyModel" OnValidSubmit="Zapisz">
            <DataAnnotationsValidator />
            <h4>@(EdytowanyModel.Id == 0 ? "Dodaj Nowy Model" : "Edytuj Model")</h4>
            <div class="mb-3">
                <label class="form-label">Nazwa konfigurajcji:</label>
                <InputText required class="form-control" @bind-Value="EdytowanyModel.NazwaKonfiguracji" />
            </div>
            <div class="mb-3">
                <label class="form-label">Typ profilu</label>
                <Select required Mode="SelectMode.Default"
                DataSource="@_typ"
                @bind-Value="EdytowanyModel.Typ"
                LabelName="@nameof(Typ.Nazwa)"
                ValueName="@nameof(Typ.Nazwa)"
                Class="form-select">
                </Select>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Minimalna szerokość konstrukcji:</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.KonstrMinSzer" />
                </div>
                <div class="col">
                    <label class="form-label">Minimalna wysokość konstrukcji:</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.KonstrMinWys" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Maksymalna szerokość konstrukcji:</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.KonstrMaxSzer" />
                </div>
                <div class="col">
                    <label class="form-label">Maksymalna wysokość konstrukcji:</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.KonstrMaxWys" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Kąt (min):</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.KatWystapieniaZakresOdMin" />
                </div>
                <div class="col">
                    <label class="form-label">Kąt (max):</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.KatWystapieniaZakresOdMax" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label class="form-label">Promień (min):</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.PromienWystapieniaZakresOdMin" />
                </div>
                <div class="col">
                    <label class="form-label">Promień (max):</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.PromienWystapieniaZakresOdMax" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Naddatek na zgrzew na stronę:</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.NaddatekNaZgrzewNaStrone" />
                </div>
                <div class="col">
                    <label class="form-label">Zwiększ długość elementy gdy łączone elementy nie mają 90 stopni:</label>
                    <Microsoft.AspNetCore.Components.Forms.InputNumber class="form-control" @bind-Value="EdytowanyModel.ZwiekszNaddatekGdyKatInny90" />
                </div>
            </div>

            <div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">
                <div class="row w-100 flex-grow-1">
                    <!-- Połączenie Naroży 1 -->
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <label class="form-label">Połączenie Naroży 1:</label>
                        <div class="preview" @onclick="() => ChangeImage(1)">
                            <img src="@SelectedImage1.ImageUrl" alt="@SelectedImage1.Name" class="img-fluid img-thumbnail shadow" />
                            <p class="text-center">Wybrałeś: @SelectedImage1.Name</p>
                        </div>
                    </div>

                    <!-- Połączenie Naroży 2 -->
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <label class="form-label">Połączenie Naroży 2:</label>
                        <div class="preview" @onclick="() => ChangeImage(2)">
                            <img src="@SelectedImage2.ImageUrl" alt="@SelectedImage2.Name" class="img-fluid img-thumbnail shadow" />
                            <p class="text-center">Wybrałeś: @SelectedImage2.Name</p>
                        </div>
                    </div>
                </div>

                <div class="row w-100 flex-grow-1">
                    <!-- Połączenie Naroży 3 -->
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <label class="form-label">Połączenie Naroży 4:</label>
                        <div class="preview" @onclick="() => ChangeImage(4)">
                            <img src="@SelectedImage4.ImageUrl" alt="@SelectedImage4.Name" class="img-fluid img-thumbnail shadow" />
                            <p class="text-center">Wybrałeś: @SelectedImage4.Name</p>
                        </div>
                    </div>

                    <!-- Połączenie Naroży 4 -->
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <label class="form-label">Połączenie Naroży 3:</label>
                        <div class="preview" @onclick="() => ChangeImage(3)">
                            <img src="@SelectedImage3.ImageUrl" alt="@SelectedImage3.Name" class="img-fluid img-thumbnail shadow" />
                            <p class="text-center">Wybrałeś: @SelectedImage3.Name</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div>
                    <label class="form-label">Łączenie elementów (dotyczy wyłącznie wersja typu T1 lub T3):</label>
                    <br/>
                    <Checkbox @bind-Value="EdytowanyModel.SposobLaczeniaCzop">Elementy łączone za pomocą czopa</Checkbox>
                    <br />
                    <Checkbox @bind-Value="EdytowanyModel.WidocznaNaLiscie">Czy model ma być widoczny na liście wyboru</Checkbox>
                </div>
                <br />
                <div>
                    <label class="form-label">Uwagi:</label>
                    <InputText class="form-control" @bind-Value="EdytowanyModel.Uwagi" />
                </div>
            </div>
            @*          <div class="mt-3">
                <label class="form-label">Obrazek DXF:</label>
                <InputFile OnChange="WczytajRysunek" />
            </div> *@
            <Spin Spinning="czakajAzZmienie" Size="SpinSize.Large">
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Zapisz edytowany model</button>
                    <button type="button" class="btn btn-secondary ms-2" @onclick="Anuluj">Anuluj</button>
                </div>
            </Spin>

        </EditForm>

        <br/>
    }

    @*     <h4>🛠️ Powiązania elementów</h4>
    <button class="btn btn-info mb-3" @onclick="TogglePowiazane">
        <i class="fas fa-eye"></i> @(PokazTylkoPowiazane ? "Pokaż wszystkie" : "Pokaż powiązane elementy")
    </button> *@

    @if (KonfiguracjeSystemu != null && KonfiguracjeSystemu.Any())
    {
        <Divider>Wybierz i powiąż elementy</Divider>

        <h5>
            🛠️ Powiązania elementów dla Modelu: @(PokazanyModelRowId != null ? $"->{WybralesElement}" : "Wszystkie")

            <button class="btn btn-info btn-sm" @onclick="() => PokazWszystkieZModelu(PokazanyModelRowId)">
                <i class="fas fa-eye"></i> 🛠️ Pokaż wszystkie
            </button>

        </h5>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nazwa</th>
                    <th>Indeks</th>
                    <th>Uwagi</th>
                    <th>Miniaturka</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @if (PowiazanyModel == null)
                {
                    @foreach (var konf in KonfiguracjeSystemu)
                    {
                        <tr>
                            <td>@konf.Nazwa</td>
                            <td>@konf.Indeks</td>
                            <td>@konf.Uwagi</td>
                            <td>
                                @if (konf.Rysunek != null && konf.Rysunek.Length > 0)
                                {
                                    <img src="@RysunekToBase64(konf.Rysunek)" alt="Miniatura" style="width: 50px; height: auto;" />
                                }
                                else
                                {
                                    <span class="text-muted">Brak</span>
                                }
                            </td>
                            <td>
                                 <Checkbox 
                                    @bind-Value="konf.CzyWybrany" 
                                    @bind-Value:after="() => OnChangeCzyWybrany(konf.CzyWybrany, konf)">
                                    Połącz element z konfiguracją
                                </Checkbox>
                            </td>
                        </tr>
                    }
                }
                else
                {

                    @foreach (var konf in PowiazanyModel.KonfSystem)
                    {
                        <tr>
                            <td>@konf.Nazwa</td>
                            <td>@konf.Indeks</td>
                            <td>@konf.Uwagi</td>
                            <td>
                                @if (konf.Rysunek != null && konf.Rysunek.Length > 0)
                                {
                                    <img src="@RysunekToBase64(konf.Rysunek)" alt="Miniatura" style="width: 50px; height: auto;" />
                                }
                                else
                                {
                                    <span class="text-muted">Brak</span>
                                }
                            </td>
                            <td>
                                <Checkbox 
                                    @bind-Value="konf.CzyWybrany" 
                                    @bind-Value:after="() => OnChangeCzyWybrany(konf.CzyWybrany, konf)">
                                    Połącz element z konfiguracją
                                </Checkbox>
                            </td>
                        </tr>
                    }

                }

            </tbody>
        </table>
    }
    else
    {
        <Divider>Wybierz i powiąż elementy (Następnie zapisz)</Divider>

        <h5>
            🛠️ Powiązania elementów dla Modelu: @(PokazanyModelRowId != null ? $"->{WybralesElement}" : "Wszystkie")

            <button class="btn btn-info btn-sm" @onclick="() => PokazWszystkieZModelu(PokazanyModelRowId)">
                <i class="fas fa-eye"></i> 🛠️ Pokaż wszystkie
            </button>

        </h5>
    }
</div>

<br />
<br />

@code {
    private bool PokazTylkoPowiazane = false;

    private List<SystemyOkienne>? Systemy;

    private List<KonfSystem>? KonfiguracjeSystemu;

    private string apiUrl = "api/konfmodele";

    private List<KonfModele>? ListaModeli;
    private KonfModele? EdytowanyModel;

    private string SelectedSystemId = "";

    private string? PokazanyModelRowId;
    private MVCKonfModele? PowiazanyModel;

    private MVCKonfModele? PowiazanyModelPierwszyZapis;

    private bool pytanieOK = false;

    protected override async Task OnInitializedAsync()
    {
        await Laduj_Uprawnienia();

        Systemy = await Http.GetFromJsonAsync<List<SystemyOkienne>>("api/systemy-okienne");
    }

    private async Task OnSystemSelected(ChangeEventArgs e)
    {
        SelectedSystemId = e.Value.ToString();

        Console.WriteLine($"Wybrano system o ID: {SelectedSystemId}");

        if (string.IsNullOrEmpty(SelectedSystemId))
        { 
            PowiazanyModel = null;

            if (KonfiguracjeSystemu != null) KonfiguracjeSystemu.Clear();
            return;
        }

        // Możesz dodać dalszą logikę, np. przekierowanie do szczegółów systemu
        PowiazanyModel = null;

        KonfiguracjeSystemu = await Http.GetFromJsonAsync<List<KonfSystem>>($"api/konfsystem/FIND_ROWID_SYS/{SelectedSystemId}");

        ListaModeli = await Http.GetFromJsonAsync<List<KonfModele>>("api/konfmodele/");

    }

    // private void TogglePowiazane()
    // {
    //     PokazTylkoPowiazane = !PokazTylkoPowiazane;
    // }

    string WybralesElement = "";

    private async Task PokazPowiazane(string rowId, string nazwaWybaranego, bool nieZeruj = false)
    {
        WybralesElement = nazwaWybaranego;

        Console.WriteLine($"PokazPowiazane: {rowId} - {nazwaWybaranego}");

        if (SelectedImage1 != null && SelectedImage2 != null && SelectedImage3 != null && SelectedImage4 != null)
        {
            SelectedImage1 = new ImageOption();
            SelectedImage2 = new ImageOption();
            SelectedImage3 = new ImageOption();
            SelectedImage4 = new ImageOption();
        }

        if (PokazanyModelRowId == rowId && !nieZeruj)
        {
            PokazanyModelRowId = null;
            PowiazanyModel = null;
            Console.WriteLine("Akcja zeruj PowiazanyModel!!!!!");
        }
        else
        {
            PokazanyModelRowId = rowId;
            PowiazanyModel = await Http.GetFromJsonAsync<MVCKonfModele>($"api/konfmodeleelementy/powiazaniajuzzaznaczone/{rowId}");

            PowiazanyModel?.KonfSystem?.ForEach(e => e.CzyWybrany = true);

            if (EdytowanyModel != null && !string.IsNullOrEmpty(EdytowanyModel.PolaczenieNaroza))
            {
                var powiazanyModel = EdytowanyModel.PolaczenieNaroza.Split(';');
                if (powiazanyModel.Length > 3)
                {
                    SelectedImage1 = ImageOptions1.FirstOrDefault(x => x.Value == powiazanyModel[0].Trim()) ?? new ImageOption();
                    SelectedImage2 = ImageOptions2.FirstOrDefault(x => x.Value == powiazanyModel[1].Trim()) ?? new ImageOption();
                    SelectedImage3 = ImageOptions3.FirstOrDefault(x => x.Value == powiazanyModel[2].Trim()) ?? new ImageOption();
                    SelectedImage4 = ImageOptions4.FirstOrDefault(x => x.Value == powiazanyModel[3].Trim()) ?? new ImageOption();

                    Console.WriteLine($"EdytowanyModel.PolaczenieNaroza: {EdytowanyModel.PolaczenieNaroza}");

                }
            }
        }

        StateHasChanged(); // Wymusza odświeżenie UI
    }

    private async Task PokazWszystkieZModelu(string rowId)
    {
        if (string.IsNullOrEmpty(SelectedSystemId))
        {
            _ = _notice.Info(new()
                {
                    Message = "Informacja!!",
                    Description = $"Wybierz system!!",
                    Placement = NotificationPlacement.TopRight,
                    Duration = 5
                });
            return;
        }

        KonfiguracjeSystemu = await Http.GetFromJsonAsync<List<KonfSystem>>($"api/konfsystem/FIND_ROWID_SYS/{SelectedSystemId}");

        ListaModeli = await Http.GetFromJsonAsync<List<KonfModele>>("api/konfmodele/");

        PowiazanyModelPierwszyZapis = PowiazanyModel;

        PowiazanyModel = null;

        StateHasChanged(); // Wymusza odświeżenie UI

    }

    private string RysunekToBase64(byte[]? imageData)
    {
        if (imageData == null || imageData.Length == 0)
        {
            return "data:image/png;base64,"; // Zapobiega błędom
        }

        return $"data:image/png;base64,{Convert.ToBase64String(imageData)}";
    }

    private async Task DodajNowy()
    {
        PowiazanyModel = null;
        PokazanyModelRowId = null;
        EdytowanyModel = new KonfModele();

        if (!string.IsNullOrEmpty(SelectedSystemId))
            KonfiguracjeSystemu = await Http.GetFromJsonAsync<List<KonfSystem>>($"api/konfsystem/FIND_ROWID_SYS/{SelectedSystemId}");
    }

    private async Task Edytuj(int id, string rowId, string nazwaWybaranego)
    {
        Console.WriteLine($"Edytuj: {id} - {rowId} - {nazwaWybaranego}");
        EdytowanyModel = await Http.GetFromJsonAsync<KonfModele>($"{apiUrl}/{id}");

        if (EdytowanyModel != null)
        {
            await PokazPowiazane(rowId, nazwaWybaranego, true);
            Console.WriteLine($"----------> EdytowanyModel: {EdytowanyModel.NazwaKonfiguracji}");
        }

    }

    private async Task OnChangeCzyWybrany(bool checkedValue, KonfSystem konf)
    {
        Console.WriteLine($"Dla konfiguracji {konf.Nazwa}: checked = {checkedValue} konf.RowIdSystem: {konf.RowIdSystem}");

        // if(PowiazanyModelPierwszyZapis == null)
        // {
        //     PowiazanyModelPierwszyZapis = await Http.GetFromJsonAsync<MVCKonfModele>($"api/konfmodeleelementy/powiazaniajuzzaznaczone/{konf.RowIdSystem}");
        //     Console.WriteLine($"Pobrałem dane do PowiazanyModelPierwszyZapis");
        // }
        // Tutaj masz dostęp do pełnego obiektu "konf"
    }

    private bool czakajAzZmienie = false;

    private async Task Zapisz()
    {

        if (PowiazanyModel == null && PowiazanyModelPierwszyZapis != null)
        {
            PowiazanyModel = PowiazanyModelPierwszyZapis;
            Console.WriteLine("EdytowanyModel ma wartość PowiazanyModel --> Pobieram dane z PowiazanyModelPierwszyZapis");
        }

        if (EdytowanyModel == null)
        {
            Console.WriteLine("EdytowanyModel ma wartość NULL");
            await _message.Error("EdytowanyModel ma wartość NULL");
            return;
        }

        if (string.IsNullOrEmpty(EdytowanyModel.RowId.ToString()))
        {
            Console.WriteLine("EdytowanyModel.RowId ma wartość NULL");
            await _message.Error("EdytowanyModel.RowId ma wartość NULL");
            return;
        }

        if (PowiazanyModel == null && KonfiguracjeSystemu == null)
        {
            Console.WriteLine("PowiazanyModel ma wartość NULL");
            await _message.Error("Wybierz z listy 🛠️ Powiązania elementów dla Modelu. Następnie kliknij ZAPISZ", 5);
            return;
        }

        Console.WriteLine($"EdytowanyModel.RowId: {EdytowanyModel.RowId}");

        czakajAzZmienie = true;

        EdytowanyModel.PolaczenieNaroza = $"{SelectedImage1?.Value ?? "0-T0"};" +
                                       $"{SelectedImage2?.Value ?? "0-T0"};" +
                                       $"{SelectedImage3?.Value ?? "0-T0"};" +
                                       $"{SelectedImage4?.Value ?? "0-T0"}";

        EdytowanyModel.RowIdSystem = Guid.Parse(SelectedSystemId);

        try
        {
            Console.WriteLine($"EdytowanyModel.PolaczenieNaroza: {EdytowanyModel.PolaczenieNaroza}");

            var baseUrlX = Navigation.BaseUri;
            var imageUrl = $"{baseUrlX}api/images/sosna.jpg";

            if (PowiazanyModel != null || KonfiguracjeSystemu != null)
            {
                 Console.WriteLine($"Rozpoczynam generowania imageGenerator.GenerateImageAsync");

                var imageGenerator = new ImageGenerator(Http);

                // Sprawdź wszystkie możliwe null-e
                if (imageGenerator == null) 
                    throw new ArgumentNullException(nameof(imageGenerator));
        
                if (EdytowanyModel == null) 
                    throw new ArgumentNullException(nameof(EdytowanyModel));
        
                if (PowiazanyModel == null && KonfiguracjeSystemu == null)
                    throw new InvalidOperationException("Brak danych konfiguracyjnych");

                var konfSystem = PowiazanyModel?.KonfSystem ?? KonfiguracjeSystemu;
        
                if (konfSystem == null)
                    throw new InvalidOperationException("Konfiguracja systemu jest null");

                // Wywołaj metodę
                byte[] imageBytes = await imageGenerator.GenerateImageAsync(
                    konfSystem,
                    EdytowanyModel.PolaczenieNaroza,
                    500, 
                    500, 
                    imageUrl, 
                    "#ADD8E6"
                );
                // byte[] imageBytes = await imageGenerator.GenerateImageAsync(PowiazanyModel.KonfSystem ?? KonfiguracjeSystemu, EdytowanyModel.PolaczenieNaroza, 500, 500, imageUrl, "#ADD8E6");
                //byte[] imageBytes = await imageGenerator.GenerateImageAsync(imageUrl);

                if (imageBytes != null)
                {
                    //var imageData = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
                    EdytowanyModel.Rysunek = imageBytes;

                    EdytowanyModel.Ikona16x16 = ResizeImage(imageBytes, 16, 16);

                    EdytowanyModel.Ikona32x32 = ResizeImage(imageBytes, 32, 32);
                }
                else
                {
                    _ = _notice.Info(new()
                        {
                            Message = "Informacja!!",
                            Description = $"Nie wygenerowano obrazka sprawdź konfigurację! kliknij --> Pokaż wszystkie",
                            Placement = NotificationPlacement.TopRight,
                            Duration = 5
                        });
                }
            }

        }
        catch (Exception ex)
        {
            _ = _notice.Info(new()
                {
                    Message = "Informacja!!",
                    Description = $"Nie wygenerowano obrazka sprawdź konfigurację!!!!",
                    Placement = NotificationPlacement.TopRight,
                    Duration = 5
                });
            Console.WriteLine($"Błąd: {ex.Message} / {ex.StackTrace}");
        }


        if (EdytowanyModel.Id == 0)
        {
            var response = await Http.PostAsJsonAsync(apiUrl, EdytowanyModel);

            if (response.IsSuccessStatusCode)
            {
                EdytowanyModel = await response.Content.ReadFromJsonAsync<KonfModele>() 
                                 ?? new KonfModele(); // 🔥 Obsługa przypadku, gdyby coś poszło nie tak
            }
            else
            {
                Console.WriteLine($"❌ Błąd API: {response.StatusCode}");
                await _message.Error($"❌ Błąd API: {response.StatusCode}");
            }
        }
        else
        {
            var response = await Http.PutAsJsonAsync($"{apiUrl}/{EdytowanyModel.Id}", EdytowanyModel);

            if (!response.IsSuccessStatusCode)
            {
                Console.WriteLine($"❌ Błąd API: {response.StatusCode}");
                await _message.Error($"❌ Błąd API: {response.StatusCode}");
            }
        }
        // Pobieramy istniejące powiązania dla modelu
        var existingLinks = await Http.GetFromJsonAsync<List<KonfModeleElementy>>($"api/konfmodeleelementy/powiazania/{EdytowanyModel.RowId.ToString()}");

        // Lista do zapisania
        List<KonfModeleElementy> nowePowiazania = new();

        if (PowiazanyModel != null)
        {
            KonfiguracjeSystemu = PowiazanyModel.KonfSystem;
        }
        else
        {

            // if(!string.IsNullOrEmpty(EdytowanyModel.RowId.ToString()))
            // {
            //     PowiazanyModel = await Http.GetFromJsonAsync<MVCKonfModele>($"api/konfmodeleelementy/powiazaniajuzzaznaczone/{EdytowanyModel.RowId.ToString()}");
            // }

            if (PowiazanyModel == null)
            {
                _ = _notice.Info(new()
                {
                    Message = "Informacja!!",
                    Description = $"Brak powiązanych modeli!!!!",
                    Placement = NotificationPlacement.TopLeft,
                    Duration = 5
                });
            }

        }


        foreach (var konf in KonfiguracjeSystemu.Where(k => k.CzyWybrany))
        {
            // Sprawdzamy, czy już istnieje w bazie
            if (!existingLinks.Any(x => x.RowIdElement == konf.RowId))
            {
                nowePowiazania.Add(new KonfModeleElementy
                    {
                        RowId = Guid.NewGuid(),
                        RowIdSystem = Guid.Parse(SelectedSystemId),
                        RowIdElement = konf.RowId,
                        RowIdKonfModele = EdytowanyModel.RowId,
                        NazwaKonfiguracji = EdytowanyModel.NazwaKonfiguracji,
                        KtoZapisal = "Użytkownik"
                    });
            }
        }

        // Wysyłamy nowo dodane powiązania do API
        if (nowePowiazania.Count > 0)
        {
            await Http.PostAsJsonAsync($"api/konfmodeleelementy/powiazania", nowePowiazania);

        }

        // Usuwamy powiązania, które użytkownik odznaczył
        var usunPowiazania = existingLinks?
            .Where(x => !KonfiguracjeSystemu.Any(k => k.CzyWybrany && k.RowId == x.RowIdElement))
            .Select(x => x.Id)
            .ToList();

        if (usunPowiazania?.Count > 0)
        {
            await Http.PostAsJsonAsync($"api/konfmodeleelementy/powiazania/usun", usunPowiazania);
        }

        // Odświeżenie listy modeli
        ListaModeli = await Http.GetFromJsonAsync<List<KonfModele>>(apiUrl);

        czakajAzZmienie = false;

        await _message.Info("Dane w modelu zaktualizowano!" , 1);  

        EdytowanyModel = null;

        PowiazanyModelPierwszyZapis = null;
    }

    private byte[] ResizeImage(byte[] imageData, int width, int height)
    {
        using var inputStream = new MemoryStream(imageData);
        using var image = SixLabors.ImageSharp.Image.Load<Rgba32>(inputStream); // 🔹 wymuszamy RGBA

        image.Mutate(x => x.Resize(new ResizeOptions
        {
            Size = new Size(width, height),
            Mode = ResizeMode.Max // proporcjonalne skalowanie
        }));

        using var outputStream = new MemoryStream();
        image.SaveAsPng(outputStream, new SixLabors.ImageSharp.Formats.Png.PngEncoder
        {
            ColorType = SixLabors.ImageSharp.Formats.Png.PngColorType.RgbWithAlpha // 🔹 wymuszamy alfa
        });

        return outputStream.ToArray();
    }

    private async Task Usun(int id)
    {

        await OpenModal("Potwierdzenie usunięcia", "Czy na pewno chcesz usunąć ten element?");
           

    // Jeśli użytkownik potwierdził
    if (pytanieOK)
    {
        try
        {
            await Http.DeleteAsync($"{apiUrl}/{id}");
            ListaModeli = await Http.GetFromJsonAsync<List<KonfModele>>(apiUrl);
            await PokazWszystkieZModelu(PokazanyModelRowId);
        }
        catch (Exception ex)
        {
           await _message.Error(ex.Message);
        }
    }
}

    private void Anuluj()
    {
        EdytowanyModel = null;
    }

    // private async Task WczytajRysunek(InputFileChangeEventArgs e)
    // {
    //     var file = e.File;
    //     if (file != null)
    //     {
    //         var buffer = new byte[file.Size];
    //         await file.OpenReadStream().ReadAsync(buffer);
    //         EdytowanyModel.Rysunek = buffer;
    //     }
    // }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }


    private bool boolOdczyt = false;
    private bool boolZmiana = false;
    private bool boolUsuniecia = false;
    private bool boolAdmin = false;
    private bool boolNowy = false;
    private string RowIdPracownika = "";
    private string? user;
    private bool isNotDisabled => !boolZmiana;
    private List<UprawnieniaPracownikaViewModel>? uprawnienia;

    private async Task Laduj_Uprawnienia()
    {
        user = await LocalStorage.GetStringAsync("user");

        if (string.IsNullOrEmpty(user))
        {
            //NavigationManager.NavigateTo($"", true);
            return;
        }

        string nazwaTabeli = "SystemyOkienne";

        Console.WriteLine($"api/ZwrocSatus/{user}/{nazwaTabeli}");

        try
        {
            uprawnienia = await Http.GetFromJsonAsync<List<UprawnieniaPracownikaViewModel>>($"/api/ZwrocSatus/{user}/{nazwaTabeli}");
        }
        catch (System.Net.Http.HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.NotFound)
        {
            Console.WriteLine("Brak danych!!!");
            await _message.Error("Brak danych - status użytkownika");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await _message.Error(ex.Message);
        }

        if (uprawnienia != null)
        {
            if (uprawnienia.Count > 0)
            {
                var znalezioneElementy = uprawnienia.Where(uprawnienie => uprawnienie.TableName == nazwaTabeli);
                Console.WriteLine("Znaleziono uprawnienia dla użytkownika: " + user + " w tabeli: " + nazwaTabeli + " ilość rekordów: " + znalezioneElementy.Count());
                if (znalezioneElementy.Any())
                {
                    var szuk = znalezioneElementy.FirstOrDefault(x => x.TableName == nazwaTabeli);
                    if (szuk != null)
                    {
                        boolOdczyt = szuk.Odczyt;
                        boolZmiana = szuk.Zmiana;
                        boolUsuniecia = szuk.Usuniecie;
                        boolAdmin = szuk.Administrator;
                        boolNowy = szuk.Zapis;
                        RowIdPracownika = szuk.RowId ?? "??????";
                    }
                }
            }
        }
    }

    record Typ(string Nazwa);
    private List<Typ> _typ = new List<Typ>
        {
            new Typ(""),
            new Typ("Rama"),
            new Typ("Skrzydło"),
            new Typ("Skrzydło z słupkiem ruchomym"),
            new Typ("Słupek stały"),
            new Typ("Listwa przyszybowa"),
        };

    // Lista dostępnych opcji
    private List<ImageOption> ImageOptions1 = new()
    {
        new ImageOption { Name = "Nie wybrano", Value = "0-T0", ImageUrl = "images/GL_0_NULL.png" },
        new ImageOption { Name = "Typ 1", Value = "180-T1", ImageUrl = "images/GL_180_T1.png" },
        new ImageOption { Name = "Typ 2", Value = "180-T2", ImageUrl = "images/GL_180_T2.png" },
        new ImageOption { Name = "Typ 3", Value = "180-T3", ImageUrl = "images/GL_180_T3.png" },
        new ImageOption { Name = "Typ 5", Value = "180-T5", ImageUrl = "images/SL_180_T5.png" }
    };

    private List<ImageOption> ImageOptions2 = new()
    {
        new ImageOption { Name = "Nie wybrano", Value = "0-T0", ImageUrl = "images/GL_0_NULL.png" },
        new ImageOption { Name = "Typ 1", Value = "90-T1", ImageUrl = "images/GL_90_T1.png" },
        new ImageOption { Name = "Typ 2", Value = "90-T2", ImageUrl = "images/GL_90_T2.png" },
        new ImageOption { Name = "Typ 3", Value = "90-T3", ImageUrl = "images/GL_90_T3.png" },
        new ImageOption { Name = "Typ 5", Value = "90-T5", ImageUrl = "images/SL_90_T5.png" },
    };

    private List<ImageOption> ImageOptions3 = new()
    {
        new ImageOption { Name = "Nie wybrano", Value = "0-T0", ImageUrl = "images/GL_0_NULL.png" },
        new ImageOption { Name = "Typ 1", Value = "0-T1", ImageUrl = "images/GL_0_T1.png" },
        new ImageOption { Name = "Typ 2", Value = "0-T2", ImageUrl = "images/GL_0_T2.png" },
        new ImageOption { Name = "Typ 3", Value = "0-T3", ImageUrl = "images/GL_0_T3.png" },
        new ImageOption { Name = "Typ 4", Value = "0-T4", ImageUrl = "images/GL_0_T4.png" },
        new ImageOption { Name = "Typ 5", Value = "0-T5", ImageUrl = "images/SL_0_T5.png" },
    };

    private List<ImageOption> ImageOptions4 = new()
    {
        new ImageOption { Name = "Nie wybrano", Value = "270-T0", ImageUrl = "images/GL_0_NULL.png" },
        new ImageOption { Name = "Typ 1", Value = "270-T1", ImageUrl = "images/GL_270_T1.png" },
        new ImageOption { Name = "Typ 2", Value = "270-T2", ImageUrl = "images/GL_270_T2.png" },
        new ImageOption { Name = "Typ 3", Value = "270-T3", ImageUrl = "images/GL_270_T3.png" },
        new ImageOption { Name = "Typ 4", Value = "270-T4", ImageUrl = "images/GL_270_T4.png" },
        new ImageOption { Name = "Typ 5", Value = "270-T5", ImageUrl = "images/SL_270_T5.png" }
    };

    private ImageOption? SelectedImage1;
    private ImageOption? SelectedImage2;
    private ImageOption? SelectedImage3;
    private ImageOption? SelectedImage4;

    protected override void OnInitialized()
    {
        // Domyślnie pierwsze obrazki z listy
        SelectedImage1 = ImageOptions1.First();
        SelectedImage2 = ImageOptions2.First();
        SelectedImage3 = ImageOptions3.First();
        SelectedImage4 = ImageOptions4.First();
    }

    private void ChangeImage(int corner)
    {
        switch (corner)
        {
            case 1:
                SelectedImage1 = GetNextImage(SelectedImage1, ImageOptions1);
                break;
            case 2:
                SelectedImage2 = GetNextImage(SelectedImage2, ImageOptions2);
                break;
            case 3:
                SelectedImage3 = GetNextImage(SelectedImage3, ImageOptions3);
                break;
            case 4:
                SelectedImage4 = GetNextImage(SelectedImage4, ImageOptions4);
                break;
        }
    }

    private ImageOption GetNextImage(ImageOption currentImage, List<ImageOption> options)
    {
        int currentIndex = options.IndexOf(currentImage);
        int nextIndex = (currentIndex + 1) % options.Count; // Przechodzenie w kółko
        return options[nextIndex];
    }

    
    private async Task OpenModal(string _title, string _contentText)
    {
        var modalCompletionSource = new TaskCompletionSource<bool>();

        RenderFragment content = @<div>@_contentText</div>;

        var options = new ConfirmOptions()
            {
                Title = _title,
                Width = 350,
                Content = content,
                OkText = "Tak",
                CancelText = "Nie",
                OnOk = async e =>
                {
                    Console.WriteLine("OnOk");
                    pytanieOK = true;
                    modalCompletionSource.SetResult(true);
                    await Task.CompletedTask;
                },
                OnCancel = async e =>
                {
                    Console.WriteLine("OnCancel");
                    pytanieOK = false;
                    modalCompletionSource.SetResult(false);
                    await Task.CompletedTask;
                }
            };

        var confirmRef = await _modalService.CreateConfirmAsync(options);

        confirmRef.OnOpen = () =>
        {
            Console.WriteLine("Open Modal");
            return Task.CompletedTask;
        };

        confirmRef.OnClose = () =>
        {
            Console.WriteLine("Close Modal");
            return Task.CompletedTask;
        };

        // Czekaj na zakończenie działania modalu
        await modalCompletionSource.Task;
    }

    private class ImageOption
    {
        public string? Name { get; set; }
        public string? Value { get; set; }
        public string? ImageUrl { get; set; }
    }

}
