@page "/Szyby-do-zlecen/{RowIdZlecenia}"
@using GEORGE.Shared.Models
@using GEORGE.Shared.Class
@using GEORGE.Client.Pages
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using AntDesign
@inject IMessageService _message
@inject PdfReaderService PdfReaderService
@inject GEORGE.Client.Pages.PDF.PdfDataParserSzyby PdfDataParserSz
@inject Utilities.ILocalStorage LocalStorage
@using System.Net;
@using System.Text.Json;
@inject INotificationService _notice


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <PageTitle>Zamówiona szyby do zlecenia</PageTitle>

    <script>
        function copyToClipboard(text) {
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(text).then(function () {
                    console.log('Text copied to clipboard');
                }).catch(function (error) {
                    console.error('Error copying text: ', error);
                });
            } else {
                // Fallback method
                var textArea = document.createElement("textarea");
                textArea.value = text;
                document.body.appendChild(textArea);
                textArea.select();
                try {
                    document.execCommand('copy');
                    console.log('Text copied to clipboard');
                } catch (err) {
                    console.error('Error copying text: ', err);
                }
                document.body.removeChild(textArea);
            }
        }
 
        function saveAsExcel(jsonData) {
            const data = JSON.parse(jsonData);
            const csvRows = [];

            // Extract headers
            const headers = Object.keys(data[0]);
            csvRows.push(headers.join(','));

            // Extract rows
            for (const row of data) {
                const values = headers.map(header => {
                    const escaped = ('' + row[header]).replace(/"/g, '\\"');
                    return `"${escaped}"`;
                });
                csvRows.push(values.join(','));
            }

            // Create CSV file
            const csvString = csvRows.join('\n');
            const blob = new Blob([csvString], { type: 'text/csv' });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.setAttribute('hidden', '');
            a.setAttribute('href', url);
            a.setAttribute('download', 'kantowka_all.csv');
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

        function saveAsExcel(jsonData) {
            const data = JSON.parse(jsonData);
            const csvRows = [];

            // Define headers
            const headers = ["GatunekKantowki", "Przekroj", "NazwaProduktu", "DlugoscZamawiana", "DlugoscNaGotowoGrupa", "IloscSztuk"];
            csvRows.push(headers.join(','));

            // Extract rows
            for (const row of data) {
                const values = headers.map(header => {
                    const escaped = ('' + row[header]).replace(/"/g, '\\"');
                    return `"${escaped}"`;
                });
                csvRows.push(values.join(','));
            }

            // Create CSV file
            const csvString = csvRows.join('\n');
            const blob = new Blob([csvString], { type: 'text/csv' });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.setAttribute('hidden', '');
            a.setAttribute('href', url);
            a.setAttribute('download', 'kantowak.csv');
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }
    </script>


</head>
<body>

    <h3>Zamówione szyby do zlecenia</h3>

     @if (boolAdmin || boolZmian)
    {
        <Button Type="primary" OnClick="@(ShowDialogAddNew)">
            Dodaj nowe zestawienie materiałów
        </Button>
    }

    @if (szybyDoZlecen != null && szybyDoZlecen.Count > 0)
    {
        <Button Type="reset" OnClick="@(CopySzybyToClipboard)">
            @uwagaKopiuj
        </Button>
        <Button Type="reset" OnClick="@(ExportToExcel)">
            Zapisz do pliku CSV - wszystko
        </Button>
        <Button Type="reset" OnClick="@(ExportSelectedColumnsToExcel)">
            Zapisz do pliku CSV - tylko wymagane kolumny
        </Button>
    }
    <Button class="btn-back" OnClick="GoBack">Wróć do poprzedniej strony</Button>
    <Divider></Divider>

    @if (szybyDoZlecen == null)
    {
        <p><em>Czekaj na załadowanie danych...</em></p>
    }
    else
    {
        <ul>
            <Table TItem="SzybyDoZlecen" DataSource="@szybyDoZlecen">
                <Column Title="ID" @bind-Field="@context.Id" Hidden />
                <Column Title="Szerokość" @bind-Field="@context.Szerokosc" Sortable OnFilter="(a, b) => a == b" Filterable />
                <Column Title="Wysokość" @bind-Field="@context.Wysokosc" Sortable OnFilter="(a, b) => a == b" Filterable />
                <Column Title="Opis szyby" @bind-Field="@context.RodzajSzyby" Sortable />
                <Column Title="Rodzaj ramki" @bind-Field="@context.RodzajRamki" Sortable OnFilter="(a, b) => a == b" Filterable />
                <Column Title="Opis" @bind-Field="@context.NazwaProduktu" Sortable OnFilter="(a, b) => a == b" Filterable />
                <Column Title="Ilość sztuk" @bind-Field="@context.IloscSztuk" Sortable />
                <Column Title="Czy kształt" TData="SzybyDoZlecen">
                    <Template>
                        <Checkbox @bind-Checked="@context.CzyKsztalt" OnChange="(e)=>Handle(e, context.Id)" />
                    </Template>
                </Column>
                <Column Title="Poz. dostarczono" TData="SzybyDoZlecen">
                    <Template>
                        <Checkbox @bind-Checked="@context.PozDostarczono" OnChange="(e)=>Handle(e, context.Id)" />
                    </Template>
                </Column>
                <Column Title="Uwagi" @bind-Field="@context.Uwagi" Sortable />
                <Column Title="Autor zmian" @bind-Field="@context.KtoZapisal" Sortable />

                <!-- Przykład kolumny dla daty z formatowaniem -->
                <Column Title="Data Zapisu" TData="DateTime" DataIndex="DataZapisu" Format="yyyy-MM-dd HH:mm:ss" Sortable />
                <!-- Przykład kolumny z niestandardowym renderowaniem komórki -->
                <ActionColumn Title="Akcja">
                    @if (boolAdmin || boolZmian)
                    {
                        <Popconfirm Title="Czy chcesz edytować pozycję?"
                                    OnConfirm="()=> editRow(context.Id)"
                                    OkText="Tak"
                                    CancelText="Nie">
                            <a>Edytuj</a>
                        </Popconfirm>
                    }
                    @if (boolAdmin || boolUsuniecia)
                    {
                        <Popconfirm Title="Czy chcesz usunąć pozycję?"
                                    OnConfirm="()=> deleteRow(context.Id)"
                                    OkText="Tak"
                                    CancelText="Nie">
                            <a style="color:red">Usuń</a>
                        </Popconfirm>
                    }
                </ActionColumn>
            </Table>

        </ul>

        <div style="overflow: auto; width: 100%; height: 200px">

            <h7>Wybierz plik ze stolcad z listą materiałów C:\STOLCAD\Rob\PrnPdf [PDF Reader] (zestawienie szyb)</h7>
            <InputFile OnChange="HandleFileSelected" />
            <br/>
            <button style="font-size:0.8em; width:60%; height:38px" @onclick="() => PasteStolcad()">Wklej szyby z STOLCAD [ODWOŁANIA]</button>

            @if (zestawienie != null)
            {
                <div>
                    <Button Type="@ButtonType.Primary" Style="width:99%" Disabled="@isNotDisabled" OnClick="SaveAll">Zapisz wyszystkie</Button>
                </div>

                <div>

                    <h4>Zestawienie Nr: @zestawienie.NrZestawienia</h4>
                    <p>Data: @zestawienie.Data.ToString("yyyy/MM/dd")</p>
                    <p>Odbiorca: @zestawienie.Odbiorca</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lp</th>
                                <th>Szerokość</th>
                                <th>Wysokość</th>
                                <th>Ilość</th>
                                <th>Rodz. Szyby</th>
                                <th>Rodz. Ramki</th>
                                <th>Powierchnia</th>
                                <th>Uwagi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in zestawienie.ListaSzyb)
                            {
                                <tr>
                                    <td>@item.Lp</td>
                                    <td>@item.Szerokosc</td>
                                    <td>@item.Wysokosc</td>
                                    <td>@item.Ilosc</td>
                                    <td>@item.RodzajSzyby</td>
                                    <td>@item.RodzajRamki</td>
                                    <td>@item.Powierzchnia</td>
                                    <td>@item.Uwagi</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }

    <div class="modal fade @classShow" tabindex="-1" style="display: @display;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Szyby dodaj / zmień</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HandleCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <AntDesign.Form Model="@szyby" Layout="FormLayout.Horizontal" OnFinish="@HandleSubmit">
                        <div class="row">
                            <!-- Kolumna 1 -->
                            <div class="col-md-6">
                                <AntDesign.FormItem Label="Szerokość">
                                    <AntDesign.InputNumber @bind-Value="szyby.Szerokosc" Min="50" Required />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Wysokość">
                                    <AntDesign.InputNumber @bind-Value="szyby.Wysokosc"  Min="50" Required />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Rodzaj szyby">
                                    <AntDesign.Input @bind-Value="szyby.RodzajSzyby" Required Placeholder="Podaj rodzaj szyby" />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Rodzaj ramki">
                                    <AntDesign.Input @bind-Value="szyby.RodzajRamki" Required Placeholder="Podaj rodzaj ramki" />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Ilość sztuk">
                                    <AntDesign.InputNumber @bind-Value="szyby.IloscSztuk" Min="1" Required />
                                </AntDesign.FormItem>
                    @*             <AntDesign.FormItem Label="Czy kształy">
                                    <Switch @bind-Value="@context.CzyKsztalt" />
                                </AntDesign.FormItem> *@
                                <AntDesign.FormItem Label="Czy kształt">
                                    <AntDesign.Checkbox @bind-Value="szyby.CzyKsztalt" />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Czy dostarczono">
                                    <Switch @bind-Value="@context.PozDostarczono" />
                                </AntDesign.FormItem>
                            </div>

                            <!-- Kolumna 2 -->
                            <div class="col-md-6">
                                <AntDesign.FormItem Label="Uwagi">
                                    <AntDesign.Input @bind-Value="szyby.Uwagi" />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Data Zamówienia">
                                    <DatePicker @bind-Value="szyby.DataZamowienia" Required />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Data Realizacji">
                                    <DatePicker @bind-Value="szyby.DataRealizacji" Required />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Kto Zapisał">
                                    <AntDesign.Input @bind-Value="szyby.KtoZapisal" Required />
                                </AntDesign.FormItem>
                                <AntDesign.FormItem Label="Ostatnia Zmiana">
                                    <AntDesign.Input @bind-Value="szyby.OstatniaZmiana" ReadOnly />
                                </AntDesign.FormItem>
                            </div>
                        </div>

                        <AntDesign.FormItem>
                            <AntDesign.Button Type="primary" @onclick="@HandleAddNew" HtmlType="submit">Zapisz</AntDesign.Button>
                            <AntDesign.Button @onclick="@HandleCancel">Anuluj</AntDesign.Button>
                        </AntDesign.FormItem>
                    </AntDesign.Form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@code {
    [Parameter]
    public string? RowIdZlecenia { get; set; }

    [Inject] private AppState AppState { get; set; } = default!;

    private string? pdfContent;

    private List<SzybyDoZlecen>? szybyDoZlecen;
    private List<SzybyDoZlecen>? oryginalSzybyDoZlecen;

    private GEORGE.Client.Pages.PDF.ZestawienieSzyb? zestawienie;

    private bool _visible = false;
    private string display = "none;";
    private string classShow = "";

    private long cid = -1;

    private SzybyDoZlecen szyby = new SzybyDoZlecen();

    private List<SzybyDoZlecen>? szybyall;

    private string uwagaKopiuj = "Kopiuj do schowka dane";

    protected override async Task OnInitializedAsync()
    {
        if (AppState != null)
        {
            AppState.SomeData = "";
        }

        await Laduj_Uprawnienia();

        if (string.IsNullOrWhiteSpace(RowIdZlecenia))
        {
            Console.WriteLine($"Bład: brak danych w RowIdZlecenia");
        }
        else
        {
            Console.WriteLine($"RowIdZlecenia: {RowIdZlecenia}");
        }

        try
        {
            szybyDoZlecen = await Http.GetFromJsonAsync<List<SzybyDoZlecen>>($"api/SzybyDoZlecen/rowid/{RowIdZlecenia}");

            szyby = new SzybyDoZlecen();
            szyby.Id = 0;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"******* Błąd {ex.Message}");
        }
    }

    public async Task ExportToExcel()
    {
        if (szybyDoZlecen != null)
        {
            var jsonData = JsonSerializer.Serialize(szybyDoZlecen);
            await JSRuntime.InvokeVoidAsync("saveAsExcel", jsonData);
        }
    }

    public async Task ExportSelectedColumnsToExcel()
    {
        if (szybyDoZlecen != null)
        {
            var selectedData = szybyDoZlecen.Select(k => new
            {
                k.Szerokosc,
                k.Wysokosc,
                k.RodzajSzyby,
                k.RodzajRamki,
                k.IloscSztuk,
                k.CzyKsztalt
            });

            var jsonData = JsonSerializer.Serialize(selectedData);
            await JSRuntime.InvokeVoidAsync("saveAsExcel", jsonData);
        }
    }


    private async Task CopySzybyToClipboard()
    {
        if (szybyDoZlecen == null || szybyDoZlecen.Count == 0) return;

        var kantowkiText = string.Join("\n", szybyDoZlecen.Select(k =>
            $"RowIdZlecenia: {k.RowIdZlecenia}, Szrokość: {k.Szerokosc}, Wysokość: {k.Wysokosc}, Rozaj Szyby: {k.RodzajSzyby}, Rodzaj Ramki: {k.RodzajRamki}, Ilość: {k.IloscSztuk}, Uwagi: {k.Uwagi}, DataZamowienia: {k.DataZamowienia}, DataRealizacji: {k.DataRealizacji}, DataZapisu: {k.DataZapisu}, KtoZapisal: {k.KtoZapisal}, OstatniaZmiana: {k.OstatniaZmiana}"
        ));

        await JSRuntime.InvokeVoidAsync("copyToClipboard", kantowkiText);

        uwagaKopiuj = "Dane skopiowano do schowka";

        await _message.Success("Dane skopiowano do schowka");
    }

    private async void Handle(bool value, long idr)
    {
        Console.WriteLine($"{value} / {idr}");
        await ZapiszUstawienieStanu(idr, value);
    }

    private async Task ZapiszUstawienieStanu(long idr, bool nowyStan)
    {
        //  var aktualizacja = new { Id = idr, MaterialZeStanMagazyn = nowyStan };

        var response = await Http.PutAsJsonAsync($"api/szybyDoZlecen/{idr}/updateCzyKsztalt", nowyStan);

        if (response.IsSuccessStatusCode)
        {
            if (szybyDoZlecen != null)
            {
                oryginalSzybyDoZlecen = szybyDoZlecen.DeepCopyList();
            }
        }
        else
        {
            // Obsłuż sytuację błędu
        }
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            var path = Path.GetTempFileName();
            await using (var stream = file.OpenReadStream())
            await using (var fileStream = new FileStream(path, FileMode.Create))
            {
                await stream.CopyToAsync(fileStream);
            }

            pdfContent = PdfReaderService.ReadPdfTable(path);
     
            zestawienie = PdfDataParserSz.ParsePdfDataSzyby(pdfContent);

            StateHasChanged();

        }
    }

    private async Task PasteStolcad()
    {
        try
        {
            // Pobranie danych ze schowka
            var clipboardText = await JSRuntime.InvokeAsync<string>("navigator.clipboard.readText");

            zestawienie = PdfDataParserSz.ParseClipboardData(clipboardText);

            StateHasChanged();

        }
        catch (Exception ex)
        {
            _ = _notice.Error(new()
                {
                    Message = ex.Message,
                    Description = ex.StackTrace,
                    Placement = NotificationPlacement.BottomLeft
                });
        }
    }


    private async Task SaveAll()
    {
        szybyall = new List<SzybyDoZlecen>();

        if (zestawienie == null) return;

        @foreach (var item in zestawienie.ListaSzyb)
        {

            var szyby = new SzybyDoZlecen
                {
                    RowIdZlecenia = RowIdZlecenia,
                    Szerokosc = string.IsNullOrEmpty(item.Szerokosc) ? 0 : float.Parse(item.Szerokosc),
                    Wysokosc = string.IsNullOrEmpty(item.Wysokosc) ? 0 : float.Parse(item.Wysokosc),
                    RodzajSzyby = item.RodzajSzyby,
                    RodzajRamki = item.RodzajRamki,
                    Uwagi = "Dane zaimortowano z PDF",
                    IloscSztuk = string.IsNullOrEmpty(item.Ilosc) ? 0 : int.Parse(item.Ilosc),
                    DataZamowienia = DateTime.Now,
                    DataRealizacji = DateTime.Now.AddDays(14),
                    DataZapisu = DateTime.Now,
                    KtoZapisal = user,
                };

            szybyall.Add(szyby);
        }

        try
        {
            // Wyślij dane do API
            var response = await Http.PostAsJsonAsync("api/szybyDoZlecen/save-all", szybyall);

            if (response.IsSuccessStatusCode)
            {
                // Operacja zakończona sukcesem
                Console.WriteLine("Dane zostały zapisane pomyślnie.");

                szybyDoZlecen = await Http.GetFromJsonAsync<List<SzybyDoZlecen>>($"api/SzybyDoZlecen/rowid/{RowIdZlecenia}");

                zestawienie = null;
            }
            else
            {
                // Obsłuż błąd
                Console.WriteLine("Wystąpił błąd podczas zapisywania danych.");
            }
        }
        catch (Exception ex)
        {
            // Obsłuż wyjątek
            Console.WriteLine($"Wystąpił błąd: {ex.Message}");
        }
    }

    private async Task HandleSubmit()
    {

        if (_visible == false) return;

        szyby.RodzajSzyby = szyby.RodzajSzyby.ToUpper();

        HttpResponseMessage response;

        if (szyby.Id == 0)
        {
            // Sprawdź unikalność NumerRodzajuKart
            var responsedbl = szybyDoZlecen.Where(e => e.RowIdZlecenia == szyby.RowIdZlecenia);

            if (responsedbl != null && responsedbl.Count() > 0)
            {
                // Wyświetl komunikat o błędzie, że NumerRodzajuKart nie jest unikalny
                Console.WriteLine("Zapisuje kolejne dane do zlecenia!!!.");
                // await _message.Error("Numer Rodzaju Kart musi być unikalny.");
                // return;
            }

            response = await Http.PostAsJsonAsync("api/SzybyDoZlecen", szyby);
        }
        else
        {
            response = await Http.PutAsJsonAsync($"api/SzybyDoZlecen/{szyby.Id}", szyby);

            if (szybyDoZlecen != null) oryginalSzybyDoZlecen = szybyDoZlecen.DeepCopyList();
        }

        if (response.IsSuccessStatusCode)
        {
            if (szyby.Id == 0)
            {
                szybyDoZlecen.Add(szyby); // Dodaj nowe szyby do listy
            }
            else
            {
                // Znajdź istniejące szyby i zaktualizuj je
                var index = szybyDoZlecen.FindIndex(z => z.Id == szyby.Id);

                if (index != -1)
                {
                    szybyDoZlecen[index] = szyby;
                }
            }

            _visible = false;
            szyby = new SzybyDoZlecen(); // Zresetuj formularz

            await HideDialog();

            StateHasChanged(); // Odśwież widok
        }
        else
        {
            // Obsługa błędów
            Console.WriteLine("Błąd podczas zapisywania rodzaju szyby - źródło RAZOR");
        }
    }

    public async Task deleteRow(long id)
    {
        if (szybyDoZlecen == null) return;

        try
        {
            var response = await Http.DeleteAsync($"api/SzybyDoZlecen/{id}");

            if (response.IsSuccessStatusCode)
            {
                // Usunięcie rekordu z listy po pomyślnym usunięciu z serwera
                szybyDoZlecen = szybyDoZlecen.Where(r => r.Id != id).ToList();
                Console.WriteLine("Rekord został pomyślnie usunięty.");
            }
            else
            {
                Console.WriteLine($"Błąd podczas usuwania rekordu: {response.ReasonPhrase}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"******* Błąd {ex.Message}");
        }
    }


    public async Task editRow(long id)
    {
        //listOfData = listOfData.Where(d => d.Id != id).ToArray();
        if (szybyDoZlecen == null) return;

        oryginalSzybyDoZlecen = szybyDoZlecen.DeepCopyList();

        // Logika edycji
        if (_visible)
        {
            _visible = false;
            await HideDialog();
        }
        else
        {
            szyby = new SzybyDoZlecen();

            var listOfData = szybyDoZlecen.Where(d => d.Id == id).ToArray();

            // Pobierz szyby na podstawie indeksu wiersza
            if (listOfData != null && listOfData.Count() > 0)
            {
                cid = id;

                szyby = listOfData[0];

                _visible = true;

                await ShowDialog();
            }

            // Wyświetl numer zamówienia w konsoli
            Console.WriteLine(szyby.RodzajSzyby);
        }

    }

    public async Task HandleAddNew()
    {
        await Task.Delay(1);

        _visible = true;
        // await HandleSubmit();
    }

    public async Task HandleCancel()
    {
        _visible = false;
        await HideDialog();
    }

    public async Task HandleCloseAdd()
    {
        _visible = false;
        await HideDialog();
        await HandleSubmit();
    }

    public async Task ShowDialogAddNew()
    {
        szyby = new SzybyDoZlecen();
        cid = -1;

        display = "block";
        await Task.Delay(50);
        classShow = "show";
        StateHasChanged();
    }

    public async Task ShowDialog()
    {
        display = "block";
        await Task.Delay(50);
        classShow = "show";
        StateHasChanged();
    }

    private async Task HideDialog()
    {
        if (cid > 0 && szybyDoZlecen != null)
        {
            szybyDoZlecen = oryginalSzybyDoZlecen;
        }

        cid = -1;

        classShow = "";
        await Task.Delay(200);
        display = "none";

        StateHasChanged();
    }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    private bool boolOdczyt = false;
    private bool boolZmian = false;
    private bool boolUsuniecia = false;
    private bool boolAdmin = false;
    private string RowIdPracownika = "";
    private string? user;
    private bool isNotDisabled => !boolZmian || !boolAdmin;
    private List<UprawnieniaPracownikaViewModel>? uprawnienia;

    private async Task Laduj_Uprawnienia()
    {
        user = await LocalStorage.GetStringAsync("user");

        if (string.IsNullOrEmpty(user))
        {
            //NavigationManager.NavigateTo($"", true);
            user = "NaN";
            return;
        }
        
        string nazwaTabeli = "SzybyDoZlecen";

        Console.WriteLine($"api/ZwrocSatus/{user}/{nazwaTabeli}");

        try
        {
            uprawnienia = await Http.GetFromJsonAsync<List<UprawnieniaPracownikaViewModel>>($"/api/ZwrocSatus/{user}/{nazwaTabeli}");
        }
        catch (System.Net.Http.HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.NotFound)
        {
            Console.WriteLine("Brak danych!!!");
            await _message.Error("Brak danych - status użytkownika");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await _message.Error(ex.Message);
        }

        if (uprawnienia != null)
        {
            if (uprawnienia.Count > 0)
            {
                var znalezioneElementy = uprawnienia.Where(uprawnienie => uprawnienie.TableName == nazwaTabeli);
                Console.WriteLine("Znaleziono uprawnienia dla użytkownika: " + user + " w tabeli: " + nazwaTabeli + " ilość rekordów: " + znalezioneElementy.Count());
                if (znalezioneElementy.Any())
                {
                    var szuk = znalezioneElementy.FirstOrDefault(x => x.TableName == nazwaTabeli);
                    if (szuk != null)
                    {
                        boolOdczyt = szuk.Odczyt;
                        boolZmian = szuk.Zmiana;
                        boolUsuniecia = szuk.Usuniecie;
                        boolAdmin = szuk.Administrator;
                        RowIdPracownika = szuk.RowId;
                    }
                }
            }
        }
    }
}
