@page "/_p_l/{TypSchodow}"

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obliczenia Schodów</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />

</head>
<body>

    <app>Czekaj na załadowanie danych...</app> <!-- Upewnij się, że to jest jedyny komponent w tym elemencie -->

    <script>
        function setCanvasSize(scale, DlugoscNaWejsciu, WysokoscCalkowita, SzerokoscSchodow, IloscStopni, WyskoscPodnoszenia, MarginesPrawy) {
        const maxWidth = Math.floor(window.innerWidth * 0.8); // Użyj Math.floor dla wartości całkowitych
        const maxHeight = Math.floor(window.innerHeight * 0.8); // Użyj Math.floor dla wartości całkowitych

        // Sprawdź wartości i ustaw domyślnie na 1000, jeśli są równe 0
        const calculatedWidth = DlugoscNaWejsciu || 1400; // Zmieniono 0 na 1000
        const calculatedHeight = (WysokoscCalkowita + SzerokoscSchodow) || 1000; // Zmieniono 0 na 1000

        // Użyj Math.floor, aby zapewnić, że wartości są całkowite
        const width = Math.floor(Math.min(maxWidth, scale * (calculatedWidth > 0 ? calculatedWidth : 1400)) + MarginesPrawy * scale);
        const height = Math.floor(Math.min(maxHeight, scale * (calculatedHeight > 0 ? calculatedHeight : 1000)) + ((IloscStopni + 1) * WyskoscPodnoszenia) * scale);

        console.log("Width:", width, "Height:", height); // Dodaj logi

        return { width: width, height: height }; // Zwróć wartości jako liczby całkowite
        }
    </script>
    @*     <script src="_framework/blazor.webassembly.js"></script> *@

    <h3>Obliczenia Schodów typu: @TypSchodow</h3>


    <Button class="btn-back" OnClick="GoBack">Wróć do poprzedniej strony</Button>
    <Divider></Divider>
    <Collapse Animation>
        <Panel Header="Parametry wykonania schodów" Key="1">
            <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; align-items: center;">
                <!-- Form inputs -->
                <div>
                    <label>Długość Otworu:</label>
                    <input type="number" @bind="DlugoscOtworu" @onclick="()=> Oblicz(false)" />
                </div>
                <div>
                    <label>Szerokość Otworu:</label>
                    <input type="number" @bind="SzerokoscOtworu" />
                </div>
                <div>
                    <label>Długość na Wejściu:</label>
                    <Tooltip Placement="@Placement.Top" Title="Całkowiata długość schodów.">
                        <input type="number" @bind="DlugoscNaWejsciu" @onclick="()=> Oblicz(false)" />
                    </Tooltip>
                </div>
                <div>
                    <label>Wysokość do Stropu:</label>
                    <input type="number" @bind="WysokoscDoStropu" />
                </div>
                <div>
                    <label>Wysokość Całkowita:</label>
                    <input type="number" @bind="WysokoscCalkowita" />
                </div>
                <div>
                    <label>Liczba Podniesień Stopni:</label>
                    <input type="number" @bind="LiczbaPodniesienStopni" @onclick="()=> Oblicz(false)" />
                </div>
                <div>
                    <label>Teoretyczna szerokość ostatniego stopnia:</label>
                    <input type="number" @bind="SzerokoscOstatniegoStopnia" />
                </div>
                <div>
                    <label>Zachodzenie stopni za siebie:</label>
                    <input type="number" @bind="ZachodzenieStopniZaSiebie" />
                </div>
                <div>
                    <label>Szerokość Biegu Schodów:</label>
                    <input type="number" @bind="SzerokoscBieguSchodow" />
                </div>
                <div style="display: flex; flex-direction: column; gap: 5px;">
                    <label style="color:forestgreen">Skala wyświetlania @SkalaWyswietlania [%]:</label>
                    <Slider TValue="double" Min="1" Max="100" Step="1" @bind-Value="@SkalaWyswietlania" />
                </div>
            </div>
        </Panel>
    </Collapse>

    <!-- Calculation and reset buttons -->
    <button @onclick="()=> Oblicz(false)">Oblicz</button>
    <button @onclick="()=> Oblicz(true)">Zapisz do DXF</button>
    <button @onclick="Resetuj">Reset</button>

    <div style="display: flex; gap: 25px;">
        <!-- Results -->
        <div style="min-width: 240px;">
            <h4>Wyniki:</h4>
            <div>
                <p style="margin: 0;">Długość Linii Biegu: @DlugoscLiniiBiegu</p>
            </div>
            <div>
                <p style="margin: 0;">Kąt Nachylenia: @Math.Round(KatNachylenia, 1)</p>
            </div>
            <div style="display: flex; align-items: center; gap: 25px;">
                <p style="margin: 0;">Szerokość Schodów: @SzerokoscSchodow</p>
                <Tooltip Placement="Placement.TopLeft" Title="Szerokość schodów">
                    <span style="margin: 0; color:@(SzerokoscSchodow >= 800 ? "green" : "red");">>= 800 mm</span>
                </Tooltip>
            </div>
            <p>Wysokość Podniesienia Stopnia: @WysokoscPodniesieniaStopnia</p>
            <div style="display: flex; align-items: center; gap: 25px;">
                <p style="margin: 0; color: darkblue; font-style: oblique; font-weight: bold;">Głębokość Stopnia: @(Math.Round(GlebokoscStopnia + ZachodzenieStopniZaSiebie, 2))</p>
                <span style="margin: 0; color:@(GlebokoscStopnia + ZachodzenieStopniZaSiebie < 220 || GlebokoscStopnia + ZachodzenieStopniZaSiebie > 350 ? "red" : "green");">
                    220 - 350 mm
                </span>
            </div>
            <div style="display: flex; align-items: center; gap: 25px;">
                <p style="margin: 0;">Przeciętna Długość Kroku: @PrzecietnaDlugoscKroku</p>
                <span style="margin: 0; color:@(PrzecietnaDlugoscKroku < 600 || PrzecietnaDlugoscKroku > 650 ? "red" : "green");">
                    600 - 650 mm
                </span>
            </div>
            <div style="display: flex; align-items: center; gap: 25px;">
                <p style="margin: 0;">Przestrzeń Swobodna nad Głową: @PrzestrzenSwobodnaNadGlowa</p>
                <span style="margin: 0; color:@(PrzestrzenSwobodnaNadGlowa >= 2000 ? "green" : "red");">
                    > 2000 mm
                </span>
            </div>
        </div>
        <!-- Drawing canvas -->
        <div>
            <h4>Rysunek schodów:</h4>

            <div style="overflow: auto; width: @(canvasWidth)px; height: @(canvasHeight)px;">
                <BECanvas Width="@(Convert.ToInt64(canvasWidth))" Height="@(Convert.ToInt64(canvasHeight))" @ref="canvasReferenceKPL"></BECanvas>
            </div>

        </div>

    </div>
</body>
</html>

@code {
    [Parameter]
    public string? TypSchodow { get; set; }


    [Inject]
    private IJSRuntime? JSRuntime { get; set; }

    // Input properties
    private double DlugoscOtworu { get; set; } = 1000;
    private double SzerokoscOtworu { get; set; } = 1000;
    private double DlugoscNaWejsciu { get; set; } = 2000;
    private double WysokoscDoStropu { get; set; } = 1000;
    private double WysokoscCalkowita { get; set; } = 3000;
    private double LiczbaPodniesienStopni { get; set; } = 10;
    private double SzerokoscOstatniegoStopnia { get; set; } = 200;
    private double ZachodzenieStopniZaSiebie { get; set; } = 10;
    private double SzerokoscBieguSchodow { get; set; } = 1000;

    // Output properties (results)
    private double DlugoscLiniiBiegu { get; set; } = 1000;
    private double KatNachylenia { get; set; } = 45;
    private double SzerokoscSchodow { get; set; } = 800;
    private double WysokoscPodniesieniaStopnia { get; set; } = 100;
    private double GlebokoscStopnia { get; set; } = 100;
    private double PrzecietnaDlugoscKroku { get; set; } = 100;
    private double PrzestrzenSwobodnaNadGlowa { get; set; } = 1000;

    private double SkalaWyswietlania { get; set; } = 25;

    private BECanvasComponent? canvasReferenceKPL;
    private Canvas2DContext? contextKPL;
    private List<Shape>? shapes;

    private bool boolLewe = true;

    protected override async Task OnInitializedAsync()
    {

        TypSchodow = System.Net.WebUtility.UrlDecode(TypSchodow);

        if (TypSchodow != null && TypSchodow.Trim().EndsWith("prawo"))
        {
            boolLewe = false;
        }

        Resetuj();

        await Task.CompletedTask;
    }

    public class CanvasDimensions
    {
        public double Width { get; set; }
        public double Height { get; set; }
    }


    private double canvasWidth = 0;
    private double canvasHeight = 0;
    // W metodzie OnAfterRenderAsync
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (SkalaWyswietlania == 0) SkalaWyswietlania = 100;
            if(DlugoscNaWejsciu == 0) DlugoscNaWejsciu = 3000;
            if (WysokoscCalkowita == 0) WysokoscCalkowita = 3000;
            if (SzerokoscSchodow == 0) SzerokoscSchodow = 1000;

            if (JSRuntime != null)
            {
                await Task.Delay(100); // Opóźnienie przed wywołaniem
                var dimensions = await JSRuntime.InvokeAsync<CanvasDimensions>(
                    "setCanvasSize",
                    SkalaWyswietlania / 100,
                    DlugoscNaWejsciu,
                    WysokoscCalkowita,
                    SzerokoscSchodow,
                    15,
                    200,
                    500
                );

                canvasWidth = Convert.ToDouble(dimensions.Width);
                canvasHeight = Convert.ToDouble(dimensions.Height);

            }

            StateHasChanged();

            if (contextKPL == null)
                contextKPL = await canvasReferenceKPL.CreateCanvas2DAsync();
        }
    }


    // Calculation method
    private async Task Oblicz(bool saveDxf)
    {
        // Walidacja
        if (DlugoscOtworu < SzerokoscBieguSchodow) DlugoscOtworu = SzerokoscBieguSchodow;
        if (DlugoscOtworu >= 30000) DlugoscOtworu = 29999;
        if (SzerokoscOtworu < SzerokoscBieguSchodow) SzerokoscOtworu = SzerokoscBieguSchodow;
        if (SzerokoscOtworu >= 30000) SzerokoscOtworu = 29999;
        if (DlugoscNaWejsciu < SzerokoscBieguSchodow) DlugoscNaWejsciu = SzerokoscBieguSchodow;
        if (DlugoscNaWejsciu >= 40000) DlugoscNaWejsciu = 39999;
        if (WysokoscDoStropu > WysokoscCalkowita) WysokoscDoStropu = WysokoscCalkowita;
        if (WysokoscDoStropu >= 6000) WysokoscDoStropu = 5999;
        if (WysokoscCalkowita < WysokoscDoStropu) WysokoscCalkowita = WysokoscDoStropu;
        if (WysokoscCalkowita >= 7000) WysokoscCalkowita = 6999;
        if (LiczbaPodniesienStopni <= 2) LiczbaPodniesienStopni = 3;
        if (LiczbaPodniesienStopni >= 30) LiczbaPodniesienStopni = 29;
        if (SzerokoscOstatniegoStopnia < 0) SzerokoscOstatniegoStopnia = 200;
        if (SzerokoscOstatniegoStopnia > (SzerokoscOtworu - SzerokoscBieguSchodow)) SzerokoscOstatniegoStopnia = SzerokoscOtworu - SzerokoscBieguSchodow;
        if (SzerokoscBieguSchodow <= 400) SzerokoscBieguSchodow = 400;
        if (ZachodzenieStopniZaSiebie < -200 || ZachodzenieStopniZaSiebie > 200) ZachodzenieStopniZaSiebie = 0;

        // Obliczenia
        WysokoscPodniesieniaStopnia = Math.Round(WysokoscCalkowita / LiczbaPodniesienStopni, 2);
        DlugoscLiniiBiegu = Math.Round(DlugoscNaWejsciu, 2);
        KatNachylenia = Math.Round(Math.Atan((WysokoscCalkowita - (WysokoscCalkowita / LiczbaPodniesienStopni)) / DlugoscLiniiBiegu) * 180 / Math.PI, 8);
        PrzestrzenSwobodnaNadGlowa = Math.Round(WysokoscDoStropu - WysokoscPodniesieniaStopnia - (DlugoscNaWejsciu - DlugoscOtworu) * Math.Tan(KatNachylenia * Math.PI / 180), 2);
        SzerokoscSchodow = Math.Round(SzerokoscBieguSchodow, 2);
        GlebokoscStopnia = Math.Round(DlugoscLiniiBiegu / (LiczbaPodniesienStopni - 1), 2);
        PrzecietnaDlugoscKroku = Math.Round(2 * WysokoscPodniesieniaStopnia + GlebokoscStopnia, 2);

        SzerokoscOstatniegoStopnia = GlebokoscStopnia;

        if (JSRuntime != null)
        {
            await Task.Delay(100); // Opóźnienie przed wywołaniem
            var dimensions = await JSRuntime.InvokeAsync<CanvasDimensions>(
                "setCanvasSize",
                SkalaWyswietlania / 100,
                DlugoscNaWejsciu,
                WysokoscCalkowita,
                SzerokoscSchodow,
                LiczbaPodniesienStopni,
                WysokoscPodniesieniaStopnia,
                3 * GlebokoscStopnia + 100
            );

            canvasWidth = Convert.ToDouble(dimensions.Width);
            canvasHeight = Convert.ToDouble(dimensions.Height);

            if (canvasWidth < 1000) canvasWidth = 1000;

        }

        StateHasChanged();

        // Jeśli saveDxf = true, wywołaj zapis DXF
        if (saveDxf)
        {
            // Aktualizacja kształtów
            await UpdateShapes(true);

            if (shapes == null) return;

            // Szukanie obiektów CSchody w liście shapes i zapisywanie do pliku DXF
            if (boolLewe)
            {
                foreach (var shape in shapes)
                {
                    if (shape is CSchodyPL schody)
                    {
                        await schody.SaveToDxfAsync();
                    }
                }

            }
            else
            {
                foreach (var shape in shapes)
                {
                    if (shape is CSchodyPL schody)
                    {
                        await schody.SaveToDxfAsync();
                    }
                }
            }

            await UpdateShapes();
        }
        else
        {
            await UpdateShapes();
        }
    }

    private async Task UpdateShapes(bool skala1do1 = false)
    {
        if (shapes != null) shapes.Clear();
        // Zainicjalizuj listę kształtów

        var skalaRys = (double)SkalaWyswietlania / 100;

        if (skala1do1)
        {
            skalaRys = 1;

            if (boolLewe)
            {
                shapes = new List<Shape>
                {
                    new CSchodyPL(JSRuntime, 50, 0, skalaRys, DlugoscOtworu, SzerokoscOtworu, DlugoscNaWejsciu, WysokoscDoStropu, WysokoscCalkowita, LiczbaPodniesienStopni,
                    SzerokoscOstatniegoStopnia, ZachodzenieStopniZaSiebie, SzerokoscBieguSchodow, DlugoscLiniiBiegu, KatNachylenia, SzerokoscSchodow, WysokoscPodniesieniaStopnia,
                    GlebokoscStopnia, PrzecietnaDlugoscKroku, PrzestrzenSwobodnaNadGlowa, TypSchodow, 'l')
                };
            }
            else
            {
                shapes = new List<Shape>
                {
                    new CSchodyPL(JSRuntime,  50, 0, skalaRys, DlugoscOtworu, SzerokoscOtworu, DlugoscNaWejsciu, WysokoscDoStropu, WysokoscCalkowita, LiczbaPodniesienStopni,
                    SzerokoscOstatniegoStopnia, ZachodzenieStopniZaSiebie, SzerokoscBieguSchodow, DlugoscLiniiBiegu, KatNachylenia, SzerokoscSchodow, WysokoscPodniesieniaStopnia,
                    GlebokoscStopnia, PrzecietnaDlugoscKroku, PrzestrzenSwobodnaNadGlowa, TypSchodow, 'p')
                };
            }

            await DrawShapes();

        }
        else
        {
            if (boolLewe)
            {
                shapes = new List<Shape>
                {
                    new CSchodyPL(JSRuntime,  50, 0, skalaRys, DlugoscOtworu, SzerokoscOtworu, DlugoscNaWejsciu, WysokoscDoStropu, WysokoscCalkowita, LiczbaPodniesienStopni,
                    SzerokoscOstatniegoStopnia, ZachodzenieStopniZaSiebie, SzerokoscBieguSchodow, DlugoscLiniiBiegu, KatNachylenia, SzerokoscSchodow, WysokoscPodniesieniaStopnia,
                    GlebokoscStopnia, PrzecietnaDlugoscKroku, PrzestrzenSwobodnaNadGlowa, TypSchodow, 'l')
                };
            }
            else
            {
                shapes = new List<Shape>
                {
                    new CSchodyPL(JSRuntime,  50, 0, skalaRys, DlugoscOtworu, SzerokoscOtworu, DlugoscNaWejsciu, WysokoscDoStropu, WysokoscCalkowita, LiczbaPodniesienStopni,
                    SzerokoscOstatniegoStopnia, ZachodzenieStopniZaSiebie, SzerokoscBieguSchodow, DlugoscLiniiBiegu, KatNachylenia, SzerokoscSchodow, WysokoscPodniesieniaStopnia,
                    GlebokoscStopnia, PrzecietnaDlugoscKroku, PrzestrzenSwobodnaNadGlowa, TypSchodow, 'p')
                };
            }

            await DrawShapes();
            await Task.Delay(10);
            await DrawShapes();

        }

    }

    private async Task DrawShapes()
    {
        if (shapes == null) return;

        if (contextKPL == null)
            contextKPL = await canvasReferenceKPL.CreateCanvas2DAsync();

        await contextKPL.ClearRectAsync(0, 0, DlugoscOtworu + 50, SzerokoscOtworu + 50); // Ustaw szerokość kanwy na większą, aby zmieścić oba kształty

        foreach (var shape in shapes)
        {
            await shape.DrawAsync(contextKPL);
        }
    }

    // Reset method
    private void Resetuj()
    {
        // Resetowanie wartości
        DlugoscOtworu = 3000;
        SzerokoscOtworu = 1000;
        DlugoscNaWejsciu = 3400;
        WysokoscDoStropu = 2700;
        WysokoscCalkowita = 3000;
        LiczbaPodniesienStopni = 15;
        SzerokoscOstatniegoStopnia = 200;
        SzerokoscBieguSchodow = 850;
        ZachodzenieStopniZaSiebie = 0;

        // Reset wyników
        DlugoscLiniiBiegu = 0;
        KatNachylenia = 0;
        SzerokoscSchodow = 0;
        WysokoscPodniesieniaStopnia = 0;
        GlebokoscStopnia = 0;
        PrzecietnaDlugoscKroku = 0;
        PrzestrzenSwobodnaNadGlowa = 0;

        SkalaWyswietlania = 25;
    }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}

